.first {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-or-stop{
    margin-bottom: 10px;
    cursor: pointer;
}

.circle{
    border: 6px solid #9d0000;
    border-radius: 500px;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: -1;
}
