.fourth{
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
H1{
    margin-bottom: 25px;
    color: #60C1B6;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}
.content{
    height: 400px;
    width: 1200px;
    box-sizing: border-box;
    padding: 45px;
    background-color: #F6F6F6;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.regular-buttons{
    font-family: 'Inter', sans-serif;
    padding: 20px;
    min-width: 28px;
    color: var(--key-color);
    background-color: var(--key-background-color);
    border-radius: 20px;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gray-buttons{
    color: #868888;
}
.regular-buttons:hover{
    background-color: #ffd200;
    color: black;
}
.line{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.play{
    position: relative;
    animation-name: play;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-iteration-count: infinite;
    color: white;
    background-color: #60C1B6;
}

@keyframes play{
    0%{
        left: 1px;
        top: 1px;
        transform: translate(1px, 1px) rotate(0dg);
    }
    10%{
        left: -1px;
        top: -2px;
        transform: translate(-1px, -2px) rotate(-1dg);
    }
    20%{
        left: -3px;
        top: 0px;
    }
    30%{
        left: 3px;
        top: 2px;
    }
    40%{
        left: 1px;
        top: -1px;
    }
    50%{
        left: -1px;
        top: 2px;
    }
    60%{
        left: -3px;
        top: 1px;
    }
    70%{
        left: 3px;
        top: 1px;
    }
    80%{
        left: -1px;
        top: -1px;
    }
    90%{
        left: 1px;
        top: 2px;
    }
    100%{
        left: 1px;
        top: -2px;
    }
}