body, html {
    height: 100%;
    margin: 0;
}
body {
  min-height: 100%;
  background-color: #fff;
  color: rgba(0,0,0,0.8);
}
.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}
.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}

.global{
  height: 100%;
}