.second{
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    overflow: auto;
    margin-right: 50px;
    border-radius: 25px 0 0;
    width: 375px;
    height: 875px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.menu-item{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 30px 0 50px 45px;
    border-radius: 0 0 0 20px;
}
.to-go-menu{
    font-weight: 1000;
    font-family: "Poppins", sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 32px;
}
.menu-item-info{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
.price{
    font-weight: bold;
    font-size: 32px;
}
.menu-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}
.btn-bay{
    cursor: pointer;
    font-weight: 700;
    background-color: #6B00F5;
    color: #FFFFFF;
    font-size: 17px;
    border-radius: 15px;
    padding: 4px 20px 4px 20px;
    display: flex;
    position: relative;
    top: 30px;
}
.img-check{
    margin-right: 14px;
}
.menu-img{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 30px;
    right: 40px;
}
.pattens-blue{
    background-color: #e1f1fe;
}
.pale-rose{
    background-color: #ffe2f0;
}
.ghost-white{
    background-color: #f7f7fe;
}
.white-ice{
    background-color: #defef0;
}
.card{
    border-radius: 25px 0 0 25px;
    width: 375px;
    height: 875px;
    background-color: #FFFFFF;
    color: black;
}
.your-card{
    font-weight: 1000;
    font-family: "Poppins", sans-serif;
    margin-bottom: 80px;
    font-size: 32px;
    color: black;
    margin-top: 80px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-line{
    border: none;
    background-color: #D7D7F9;
    color: #D7D7F9;
    height: 6px;
    width: 85%;
}
.sum{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}
.sum-layout{
    display: flex;
    align-items: flex-end;
    margin: 10px;
}
.sum-container{
    font-size: 34px;
    margin-left: 20px;
}
.card-item{
    display: flex;
}
.numberOfOrders{
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    font-weight: 700;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
    display: flex;

}
.card-img{
    width: 70px;
    height: 70px;
}
.minus-img{
    background-color: #6B00F5;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
}
.plus-img{
    background-color: #6B00F5;
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
}