.second{
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    width: 100%;
    overflow: auto;
    margin-right: 50px;
    border-radius: 25px 0 0;
    width: 375px;
    height: 875px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.menu-item{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 30px 0 50px 45px;
    border-radius: 0 0 0 20px;
}
.to-go-menu{
    font-weight: 1000;
    font-family: "Poppins", sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 32px;
}
.menu-item-info{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
.price{
    font-weight: bold;
    font-size: 32px;
}
.menu-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}
.btn-bay{
    cursor: pointer;
    font-weight: 700;
    background-color: #6B00F5;
    color: #FFFFFF;
    font-size: 17px;
    border-radius: 15px;
    padding: 4px 20px 4px 20px;
    display: flex;
    position: relative;
    top: 30px;
}
.img-check{
    margin-right: 14px;
}
.menu-img{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 30px;
    right: 40px;
}
.pattens-blue{
    background-color: #e1f1fe;
}
.pale-rose{
    background-color: #ffe2f0;
}
.ghost-white{
    background-color: #f7f7fe;
}
.white-ice{
    background-color: #defef0;
}
.card{
    overflow: auto;
    border-radius: 25px 0 0 25px;
    width: 375px;
    height: 875px;
    background-color: #FFFFFF;
    color: black;
}
.your-card{
    font-weight: 1000;
    font-family: "Poppins", sans-serif;
    margin: 80px 0 80px 25px;
    font-size: 32px;
    color: black;
}
.card-content{
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-line{
    border: none;
    background-color: #D7D7F9;
    color: #D7D7F9;
    height: 6px;
    width: 100%;
    margin-top: -50px;
}
.card-line-tamplate{
    border: none;
    background-color: #D7D7F9;
    color: #D7D7F9;
    height: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.sum{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}
.sum-layout{
    display: flex;
    align-items: flex-end;
    margin: 10px;
}
.sum-container{
    font-size: 34px;
    margin-left: 20px;
}
.card-item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card-item-tamplate{
    display: flex;
    margin-bottom: 40px;
}
.numberOfOrders{
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    font-weight: 700;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50px;
    top: 20px;
}
.card-img{
    width: 70px;
    height: 70px;
}
.card-info{
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.amount-of-orders{
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.minus-img{
    background-color: #6B00F5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus-img{
    background-color: #6B00F5;
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-info-price{
    font-weight: 700;
    margin-top: 5px;
}
.amount-of-orders-price{
    font-size: 32px;
}
.bg-left{
    z-index: -1;;
    position:absolute;
    top: 0%;
    left: 0%;
}
.bg-top-right{
    z-index: -1;
    position:absolute;
    top: 0%;
    right: 0%;
}
.bg-btm-right{
    z-index: -1;
    position:absolute;
    right: 0%;
    bottom: 0%;
}